*/.DS_Store
*/*.zip
*/*/*.zip
*/*/*/*.zip
*/*/*/*/*.zip
*/Mpala\ GIS/*.zip
*/*.tif
*/*/*.tif
*/*/*/*.tif
*/*/*/*/*.tif
!*/MODUS\ Data/Recent/*.tif
*/Trash
*/*/Trash
*/*/*/Trash
*/*/*/*/Trash
*/*/*/*/*/Trash
*/*/*.JPG
*/.DS_Store
*/*/*.JPG
*/*.JPG
*/*/*/*.JPG

